Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.avi
*.mp4
*.exr
*_BuiltData.uasset
Content/Cinematics/Takes/2021-03-26/Scene_1_01.uasset
Content/Cinematics/Takes/2021-03-26/Scene_1_01_Subscenes/VirtualCameraActor_Scene_1_01.uasset
Content/Cinematics/Takes/2021-03-26/Scene_1_02.uasset
Content/materials/Landscape/Textures/WetSoil/T_WetSoil_R.uasset
Content/materials/Landscape/Textures/WetSoil/T_WetSoil_N.uasset
Content/materials/Landscape/Textures/WetSoil/T_WetSoil_D.uasset
Content/materials/Landscape/Textures/WetSoil/T_WetSoil_A.uasset
Content/Maps/medievalMap/medievalMap_BuiltData.uasset
